.ReactModal__Content, .ReactModal__Content--after-open {
    height: 80%;    
}

.demo-editor, .rdw-editor-main {
    background-color: $agr;
    border: 2px dashed $fgr;
    border-radius: 8px;
    color: $cgr;


}

