.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column {
        background-color: $owh;
        color: $cgr;
    }

    .right-column {
        background-color: $cgr;
        color: $agr;
    }
}