$cgr: #26580f;
$cgr: rgb(38, 88, 15);
// crusoe green
$ogr: #378805;
// original green
$agr: rgb(134, 220, 61); 
$agr: #86dc3d; 
// atlantis
$iwo: #c5e90b; 
// inchworm
$hgr: rgb(53, 95, 59);
// hunter green
$fgr: #228B22;
// forest green
$gre: #008000;
// VS Green
$red: #e30808;
// my red

$dgr: #304528;
$gra: #7b6b6b;
$cha: #565151;
$yel: #c4ff13;
$lgr: #dddddd;
$lgn: #38ab38;
$red: #b50505;
$owh: #f8e8e8;
$blu: #0606aa;